* {
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #02A28F;
    color: #FFF;
    height: 70px;
}

h1 {
    padding: 13px 156px;
    font-size: 36px;
}

#container {
    margin: 16px 156px;
    display: grid;
    grid-template-columns: 744px 372px;
    grid-template-rows: auto auto;
    gap: 25px;
}

#carousel-container {
    grid-column: 1;
    grid-row: 1;
}

#carousel img {
    display: block;
    height: 396px;
    border-radius: 16px;
}

#carousel .info {
    color: #FFF;
    position: relative;
    bottom: 10px;
}

#posts-container {
    grid-column: 1;
    grid-row: 2;
    width: 744px;
}

#popular-posts {
    grid-column: 2;
    grid-row: 1;
}

#categories {
    grid-column: 2;
    grid-row: 2;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #02A28F;
    color: #FFF;
    border-radius: 8px;
}

.latest-posts {
    height: 56px;
    width: 742px;
    margin-bottom: 20px;
}

.post-container {
    width: 360px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

footer {
    background-color: #02A28F;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    margin-top: 65px;
}
