* {
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #000000;
}

header {
    height: 4.4rem;
}

.header-colors {
    background-color: #02A28F;
    color: #FFF;
}

h1 {
    padding: 0.8rem 9.8rem;
    font-size: 2.25rem;
}

#container {
    margin: 1rem 9.75rem;
    display: grid;
    width: 69.75rem;
    grid-template-columns: 46.5rem 23.25rem;
    grid-template-rows: auto auto;
    gap: 1.56rem;
}

#carousel-container {
    width: 46.5rem;
}

.carousel-label,
.carousel-autor {
    font-size: 1rem;
}

.carousel-title {
    font-size: 2rem;
}

#carousel-post {
    background-image: url(/images/images-carousel/what-its-like-tobe-developer-img.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 24.6rem;
    border-radius: 0.6rem;
    margin: 2.5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1.5rem;
}

#posts-container {
    grid-column: 1;
    grid-row: 2;
    width: 46.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
}

.header-aside {
    width: 22.5rem;
    height: 3rem;
    padding: 1rem 1.6rem;
    margin-top: 2.5rem;
}

.header-aside:nth-last-child(2){
    margin-top: 1.5rem;
}

.latest-posts {
    height: 3.5rem;
    width: 46.3rem;
    margin-bottom: 1.25rem;
    padding: 0 1.6rem;
}

.latest-posts a {
    text-decoration: underline;
}

.latest-posts a:hover {
    color: #bcbcbc;
}

.latest-posts a,
.txt-white {
    color: #FFF;
}

.post-container {
    width: 22.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}


.category-list-container {
    width: 22.5rem;
    display: flex;
    justify-content: space-between;
}

ul, .category-list a {
    list-style: none;
    color: #616161;
    font-size: 1rem;
    font-weight: 600;
    margin: 1.25rem 0;
}

li {
    margin-bottom: 1.4rem;
}

.category-list > li::before {
    content: "> ";
}

.category-list a:hover{
    color: #434242;
}

.card-transition:hover {
    transform: scale(1.03);
    transition: opacity 0.5s ease-in-out, transform 0.5s .2s;
}

footer {
    background-color: #02A28F;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin-top: 4rem;
}
